## Specific files and directories
99.cluster_utilities/tests/Local_Settings.bash 
99.cluster_utilities/tests/outputs/

# Compiled binaries
1.prepare_antibody/align_antibody/align
2.prepare_glycan/get_flexible_bond_info
5.analyze_results/clustering
5.analyze_results/reorderpdb
5.analyze_results/write_output

## General patterns

*.swp
*git-ignore-me*

