#!/usr/bin/env bash

# Settings useful for using Automated Antibody Docking 2 with Docker in a cluster

# These scripts assume that file paths are the same on the compute nodes as on the head node

# Location of image files on the head node and compute node
export AAD2_IMAGE_FILE_PATH="/path/to/aad2/image_files"

# Location of the AAD2_Docker repo on head and node
export AAD2_DOCKER_HOME="/path/to/AAD2_Docker" 

source "${AAD2_DOCKER_HOME}/settings.bash"  
# Doing this source gives us the following
export AAD2_IMAGE_NAME
export AAD2_TAG_NAME

# Combine name and tag into convenient string
export AAD2_IMAGE_TAG_COMBO="${AAD2_IMAGE_NAME}:${AAD2_TAG_NAME}"
#echo "AAD2_IMAGE_TAG_COMBO=${AAD2_IMAGE_TAG_COMBO}"

# Name of the file for the current image
export AAD2_IMAGE_FILE_NAME="${AAD2_IMAGE_FILE_PATH}/${AAD2_IMAGE_TAG_COMBO//:/$'.'}.tar"

Node_Setup_Script="/path/to/the/script" # If you need to source a file, load a module, etc.
Nodes_Info_Command="sinfo -N" # The command you use to get the node info.  Change only if you know what you're doing.
Partitions_To_Use="defq" # List of partitions that should not be used.
States_To_Avoid="down  drained  draining  fail  failing" # List of node states to ignore
AAD2_CLUSTER_WORKDIR="$(pwd)"  # where to be on the node before doing anything else

