pUUID='abcdef0123456789'
DOCKING_REPLICA_CPUS='8'
SITE_NICK_NAME='test'
AAD2_BASE_PATH='/path/to/aad2_repos'
AAD2_DOCKER_HOME="${AAD2_BASE_PATH}/AAD2_Docker"
SUBMIT_FILE_NAME="slurm_submit.bash"
CLUSTER_EXE_NAME="run_docking_with_docker_on_cluster_node.bash"

