#!/usr/bin/env bash
#---------------------------#
# ad2cliconfig example file
#---------------------------#
#
## Path to the antibody file 
USER_AB_FILEPATH="/path/to/my/antibody.pdb"
#
## Path to the glycan file 
USER_G_FILEPATH="/path/to/my/carbohydrate.pdb"
#
## Path to the ad2config file for the project
AD2CFG_FILEPATH="/programs/share/ad2config"
#
## Path to the ad2dockerconfig file for the project
AD2DOCKERCFG_FILEPATH="/programs/share/ad2dockerconfig"
#
## Path to the script that will submit the docking job to a cluster's scheduler
COMPUTE_SUBMIT_SCRIPT_FILEPATH="/programs/share/submit_docking_to_cluster_with_docker"
#
## Optional: path to a file needed by COMPUTE_SUBMIT_SCRIPT_FILEPATH (for example, a config file).
LOCAL_COMPUTECFG_FILEPATH="/programs/share/localclusterconfig"
#
## Path to the working directory for the project
WD="/path/to/my/project"
#
## Path to AAD2_Docker
AAD2_DOCKER_HOME="/programs/src/AAD2_Docker"
#
## A unique container name prefix 
CONTAINER_NAME_PREFIX="unique-and-docker-safe-string"
